__pycache__


# Flask stuff:
instance/
.webassets-cache

# Sphinx documentation
docs/_build/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Node
# Dependency directories
node_modules/


data
