<!DOCTYPE html>
<html>
    <head>
        <title>Transcribe</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <link href="{{url_for('static', filename='fontawesome/css/fontawesome.css')}}" rel="stylesheet">
        <link href="{{url_for('static', filename='fontawesome/css/brands.css')}}" rel="stylesheet">
        <link href="{{url_for('static', filename='fontawesome/css/regular.css')}}" rel="stylesheet">
        <link href="{{url_for('static', filename='fontawesome/css/solid.css')}}" rel="stylesheet">
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    </head>
    <body>

        <div class="toast-container position-fixed bottom-0 end-0 p-3">
            <div id="liveToast" class="toast" role="alert" data-bs-delay="2000" aria-live="assertive" aria-atomic="true">
                <div id="toastBody" class="toast-body">
                    Added to queue.
                </div>
            </div>
        </div>
      
        <div class="container-fluid scroll-container">
            <!-- Header -->
            <div class="flex-column justify-content-center px-2">        
                <div class="align-middle">
                    <p class="txt-dark text-5xl font-bold text-center mt-5">Transcribe</p>
                </div>
                <p class="text-md font-bold txt-dark text-center mt-2">Convert any audio to text</p>
            </div>
            
            <!-- Controls -->
            <div class="flex-column justify-content-center px-2 " style="height:200px;">
                <div class="row">
                    <div class="col-6 text-center justify-center">
        
                        <!-- component -->
                        <label class="mainButton py-2 px-4 my-1.5 rounded">
                            <span><i class="fa-solid fa-cloud-arrow-up"></i> File</span>
                            <input accept="audio/*, video/*" name="fileSelect" id="fileSelect" type='file' class="hidden" />
                        </label>

                        <label id="youtubeSelect" class="mainButton py-2 px-4 my-1.5 rounded">
                            <span><i class="fa-brands fa-youtube"></i> YouTube</span>
                        </label>

                        <label id="transcribe" class="mainButton ms-4 py-2 px-4 my-1.5 rounded ">
                            <span><i class="fa-regular fa-comment"></i> Transcribe</span>
                        </label>
                        <div class="text-center justify-center">
                            <label id="selectedFileName" class="hidden text-white font-bold py-2 px-4 my-1.5 rounded inline-flex items-center cursor-pointer"> </label>
                            <input id="youTubeURL" class="hidden" type="text" size="40" placeholder="Paste the YouTube URL here">
                        </div>
                    </div>

                    <div class="col-6">
                        <i>These aren't yet functional!</i>
                        <div class="">
                            <label class="txt-dark" for="lang">Audio language</label>
                            <select required id="lang" class="form-select rounded text-sm">
                                <option value="auto">Auto detect</option>
                                <option value="ca">Catalan</option>
                                <option value="cs">Czech</option>
                                <option value="zh">Chinese</option>
                                <option value="da">Danish</option>
                                <option value="nl">Dutch</option>
                                <option value="en">English</option>
                                <option value="es">Spanish</option>
                                <option value="et">Estonian</option>
                                <option value="fi">Finnish</option>
                                <option value="fr">French</option>
                                <option value="de">German</option>
                                <option value="he">Hebrew</option>
                                <option value="hu">Hungarian</option>
                                <option value="it">Italian</option>
                                <option value="ja">Japanese</option>
                                <option value="no">Norweigan</option>
                                <option value="pl">Polish</option>
                                <option value="pt">Portuguese</option>
                                <option value="ru">Russian</option>
                                <option value="sk">Slovak</option>
                                <option value="sv">Swedish</option>
                            </select>
        
                            <div class=" text-left">
                                <div>
                                    <div class="my-1">
                                        <input id="generateSubtitles" class="form-check-input" type="checkbox">
                                        <label class="txt-dark" for="generateSubtitles">
                                            <span>
                                            Subtitle file
                                            </span>
                                        </label>
                                    </div>
                                    <div class="my-1">
                                        <input  id="translate"  class="form-check-input" type="checkbox">
                                        <label class="txt-dark" for="translate">
                                            <span>
                                            Translate
                                            </span>
                                        </label>
                                    </div>
                                    <div class="my-1">
                                        <input id="speedup" class="form-check-input" type="checkbox">
                                        <label class="txt-dark" for="speedup">
                                            <span>
                                            Audio x2
                                            </span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <p class="text-5xl txt-dark font-bold text-center mt-2">Queues</p>
            <div class="flex-column justify-content-center text-white px-2 ">
                <div class="row">
                    <div class="col-4 ">
                        <p class="text-5xl txt-dark font-bold text-center">Waiting</p>
                    </div>
                    <div class="col-4">
                        <p class="text-5xl txt-dark font-bold text-center">Processing</p>
                    </div>
                    <div class="col-4">
                        <p class="text-5xl txt-dark font-bold text-center">Done</p>
                    </div>
                </div>
            </div>

            <div class="content">
                <div class="left border-4 border-color border-end">
                    <div id="waitingItems" class=""></div>
                </div>
                <div class="middle border-4 border-color border-end">
                    <div id="inProgressItems" class=""></div>
                </div>
                <div class="right">
                    <div id="doneItems" class=""></div>
                </div>
            </div>

            <div>
                <p class="text-md font-bold txt-dark text-center"><i class="fa-regular fa-comment-dots"></i> by <a class="txt-dark" href="https://github.com/AndyQ">AndyQ</a></p>
            </div>                

        </div>

          

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
<script>
    $(function () {
    
        $('#fileSelect').on("change", function() { 
                let name = $('#fileSelect')[0].files[0]['name']
                $("#selectedFileName").text( "Selected file: " + name );
                $("#youTubeURL").hide();
                $("#selectedFileName").show();
        });
    
        $('#youtubeSelect').click( function() { 
                $("#youTubeURL").show();
                $("#selectedFileName").hide();
        });
    
        $( "#transcribe" ).click(function() {
            var formData = new FormData();

            // If the selectedFileName field isn't hidden
            if ( $("#selectedFileName").is(":visible") ) {
                formData.append('file', $('#fileSelect')[0].files[0]);
            } else {
                var url = $("#youTubeURL").val();
                
                formData.append('youtubeURL', url);

            }
    
            $.ajax({
                url : 'addItem',
                type : 'POST',
                data : formData,
                processData: false,  // tell jQuery not to process the data
                contentType: false,  // tell jQuery not to set contentType
                success : function(data) {
                    console.log(data);
                    // const toastLiveExample = document.getElementById('liveToast')
                    const toastElement = $('#liveToast');
                        const text = $('#toastBody');
                        text.text("Added item to queue" );
                    const toast = new bootstrap.Toast(toastElement)
                    toast.show()
                }
            });
        });

        $('body').on('click', '.deleteItem', function() {

            var id = $(this).data('id');
            $.ajax({
                url : 'deleteItem',
                type : 'POST',
                data : {id: id},
                success : function(data) {
                    console.log(data);
                    if ( data.status == "ok" ) {}
                        //const toastElement = document.getElementById('liveToast')
                        const toastElement = $('#liveToast');
                        const text = $('#toastBody');
                        text.text("Deleted item " + id);
                        const toast = new bootstrap.Toast(toastElement)

                        toast.show()
                        $(this).remove()
                }
            });
        });
    
        function updateQueues( ) {
            $.ajax({
                url : 'getQueueDetails',
                type : 'GET',
                success : function(data) {
                    $("#waitingItems").empty();
                    $("#inProgressItems").empty();
                    $("#doneItems").empty();
    
                    for (var i = 0; i < data['waiting'].length; i++) {
                        $("#waitingItems").append('<p class="txt-dark font-bold text-left">' + data['waiting'][i].title + '</p>');
                    }
                    if ( data['error'].length > 0 )
                        $("#waitingItems").append( "<br><p class='text-red font-bold text-left'>Errors:</p>")
                        for (var i = 0; i < data['error'].length; i++) {
                            $("#waitingItems").append(`<p><a href="/delete/${data['error'][i].id}"><i class="fa-solid fa-trash"></i></a> - <span class="text-red text-left">${data['error'][i].title}</span></p>`);
                        }
                    for (var i = 0; i < data['inprogress'].length; i++) {
                        $("#inProgressItems").append('<p class="txt-dark font-bold text-left">' + data['inprogress'][i].title + '</p>');
                    }
                    for (var i = 0; i < data['done'].length; i++) {
                        $("#doneItems").append(`<p><i data-id="${data['done'][i].id}" class="deleteItem txt-dark fa-solid fa-trash"></i> - <a target="_blank" href="/showTranscription/${data['done'][i].id}"><span class="txt-dark font-bold text-left">` + data['done'][i].title + '</span></a></p>');
                    }
                }
            });
        }
    
        updateQueues();
        setInterval(updateQueues,1000);
    });
</script>        
    </body>
</html>